storage/mcp/Tools/n8n/workflows/health_report.json
{
  "name": "健康报告推送",
  "description": "每天 9:00 生成 GSTACK 健康报告并推送",
  "nodes": [
    {
      "name": "定时触发",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "name": "收集 MCP 状态",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8400/status"
      }
    },
    {
      "name": "生成报告",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "functionCode": "const data = items[0].json;\n\nconst report = `\nGSTACK 健康报告\n================\n生成时间: ${new Date().toLocaleString('zh-CN')}\n\nMCP 状态:\n- Blender MCP: ${data.blender_status || 'unknown'}\n- JM 分类: ${data.jm_count || 0} 个\n- BC 分类: ${data.bc_count || 0} 个\n- Tools 分类: ${data.tools_count || 0} 个\n\nCC 缓存:\n- 1_Raw: ${data.raw_count || 0} 个文件\n- 2_Old: ${data.old_count || 0} 个文件\n- 3_Unused: ${data.unused_count || 0} 个文件\n\n最近错误:\n${data.last_error || '无'}\n\n系统状态: ${data.healthy ? '正常' : '需要关注'}\n`;\n\nreturn [{ json: { report } }];"
      }
    },
    {
      "name": "保存报告",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "parameters": {
        "fileName": "/python\\logs\\health_report.md",
        "dataPropertyName": "report"
      }
    },
    {
      "name": "发送通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/gstack_health",
        "bodyParameters": {
          "parameters": {
            "report": "={{ $json.report }}"
          }
        }
      }
    }
  ],
  "connections": {
    "定时触发": {
      "main": [
        [
          {
            "node": "收集 MCP 状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "收集 MCP 状态": {
      "main": [
        [
          {
            "node": "生成报告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成报告": {
      "main": [
        [
          {
            "node": "保存报告",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存报告": {
      "main": [
        [
          {
            "node": "发送通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
